<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>supervisord dashboard</title>
    {% load staticfiles %}
    <link href="{% static "css/supervisor.css" %}" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>

    <script>
        function refresh(id) {
            $.ajax({
                url: "{{ query_url }}",
                data: {'server': id, 'action': 'refresh'},
                success: function (data) { render(id, data['status'], data['server']); },
                error: function(){ alert('fail'); },
                dataType: 'json',
            });
        };
        function render(id, status, server) {
            var server_dashboard = $("#server_dashboard_"+id);
            if (!status) {
                var buttons = $('<ul id="buttons">');
                buttons.addClass('clr').append(server['name']+' is not running');
                buttons.
                    append($("<li>").attr("id", "refresh").
                        append($("<a>").attr("link", "#").attr("onClick", "refresh(" + id + ")").html('&nbsp;')));

                server_dashboard.empty();
                server_dashboard.append(buttons);
                return;
            }
            var buttons = $('<ul id="buttons">');
            buttons.addClass('clr').append(server['name']);
            buttons.append($("<li>").attr("id", "refresh").
                        append($("<a>").attr("link", "#").attr("onClick", "refresh(" + id + ")").html('&nbsp;'))).
                    append($("<li>").attr("id", "restart_all").
                        append($("<a>").attr("link", "#").attr("onClick", "control_server(" + id + ", 'restart_all')").html("&nbsp;"))).
                    append($("<li>").attr("id", "stop_all").
                        append($("<a>").attr("link", "#").attr("onClick", "control_server(" + id + ", 'stop_all')").html("&nbsp;")));


                    // '<li id="restart_all"><a href="#" onClick=control_server(' + id + ', "restart_all")>&nbsp;</li>'+
                    // '<li id="stop_all"><a href="#" onClick=control_server(' + id + ', "stop_all")>&nbsp;</a></li>'+
                    // '<li id="machine_name"><a href="index.html?action=stopall">&nbsp;'+server['name']+'</a></li>';
            var table = $("<table>").attr('cellspacing','0');
            var thead = $("<thead>").
                            append($("<th>").addClass('state').text('State')).
                            append($("<th>").addClass('desc').text('Description')).
                            append($("<th>").addClass('name').text('Name')).
                            append($("<th>").addClass('action').text('Action'));
            thead.appendTo(table);
            var tbody = $("<tbody>");
            tbody.appendTo(table);
            table.append($("<tr class='machine'>"+row+"</tr>"));
            for(var i=0; i<status.length; i++){
                var program = status[i];
                var row = "";

                if (program['state'] == "{{ constants.running }}") {
                    row += "<td class='state'><span class='statusrunning'>"+program["statename"]+"</span></td>";
                } else if (program['state'] == "{{ constants.stop }}") {
                    row += "<td class='state'><span class='statusnominal'>"+program["statename"]+"</span></td>";
                } else if (program['state'] == "{{ constants.fatal }}") {
                    row += "<td class='state'><span class='statuserror'>"+program["statename"]+"</span></td>";
                }

                row += "<td class='desc'>"+program["description"]+"</td>";
                row += "<td class='name'>"+program["human_name"]+"</td>";
                if (program['state'] == "{{ constants.running }}"){
                    row += "<td class='action'><ul>";
                    row += "<li><a href='#' onClick=control_program("+id+",'"+program['id']+"','stop')>stop</li>";
                    row += "<li><a href='#' onClick=control_program("+id+",'"+program['id']+"','restart')>restart</li>";
                    row += "</ul></td>";
                } else {
                    row += "<td class='action'><ul>";
                    row += "<li><a href='#' onClick=control_program("+id+",'"+program['id']+"','start')>start</li>";
                    row += "</ul></td>";
                }
                table.append($("<tr>"+row+"</tr>"));
            }
            server_dashboard.empty();
            server_dashboard.append(buttons);
            server_dashboard.append(table);
         };
         function control_program(server_id, program_id, command){
            $.ajax({
                url: "{{ query_url }}",
                data: {'server': server_id, 'action': command, 'program': program_id},
                success: function (data) { refresh(server_id); },
                error: function(){ alert('fail'); },
                dataType: 'json',
            });
         };
         function control_server(server_id, command){
            $.ajax({
                url: "{{ query_url }}",
                data: {'server': server_id, 'action': command},
                success: function (data) { refresh(server_id); },
                error: function(){ alert('fail'); },
                dataType: 'json',
            });
         };
 
         function refresh_all(){
             {% for server in servers.values %}
                refresh('{{ server.sid }}');
             {% endfor %}
         };
         function on_load(){
             refresh_all();
         };

    </script>
</head>

<body onLoad='on_load()'>
    <div id="wrapper">
        <div id="header">
            {% load staticfiles %}
            <img alt="Supervisor status" src="{% static "imgs/supervisor.gif" %}">
        </div>

        {% for server in servers.values %}
        <div id="server_dashboard_{{ server.sid }}"></div>
        {% endfor %}
    </div>
</body>
</html>
